@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared style */
.font-orange {
    color: rgb(254, 163, 1);
}

.font-skyblue {
    color: rgb(1, 172, 253);
}

.font-color3 {
    color: rgb(5, 212, 223);
}

.font-color4 {
    color: rgb(93, 88, 239);
}

.font-raleway {
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(128, 128, 128)
}


.display-flex {
    display: flex;
}

.btn-bgn {
    border-radius: 12px;
    font-family: Quicksand;
    background: rgb(254, 163, 1);
    border: none;
    font-size: 1.25rem;
    padding: 10px;
    width: 157px;
    color: rgb(255, 255, 255);
}

.primary-cover-size {
    max-width: 1440px;
    margin: 0px auto;
}


.primary-title {
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

.primary-bg {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* nav & banner part */
.nav-icon {
    display: none;

}

header {
    margin-bottom: 60px;
}

.navbar,
.banner {

    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 62px;
    align-items: center;
    gap: 11px;
}

.logo-img {
    width: 100%;
}

.logo h5 {
    font-size: 2rem;
    font-weight: 700;
}

.list-items {
    list-style: none;
    margin-right: 32px;
}

.list-items a {
    text-decoration: none;
}

.list-items li {
    margin-right: 32px;
}

.nav-btn {
    font-weight: 600;


}
/* banner style */
.banner-desc {
    max-width: 640px;
}

.banner-desc h3 {
    font-size: 3.5rem;
    font-weight: 700;
}

.banner-desc h5 {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
}

.banner-btn {
    background: rgb(17, 17, 17);
}

/* curriculum section */

.card-container {
    justify-content: space-between;
    gap: 30px;
}

.card {
    text-align: center;
    max-width: 367.8px;
    padding: 61px 40px 58px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
}

.card1 {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card2 {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card3 {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card h4 {
    font-size: 1.6rem;
    font-weight: 700;
}

.card a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}

.card1 a {
    color: rgb(100, 200, 255);
}

.card2 a {
    color: rgb(240, 170, 0)
}

.card3 a {
    color: rgb(135, 0, 255);
}

.curriculum-btn {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.stylish-btn {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background: rgb(254, 163, 1);

}

.stylish-btn:hover {
    background-color: rgb(100, 200, 255);
}

/* our story style */

.story-bg {
    background: url(../images/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.story-contain {
    justify-content: center;
    gap: 19px;


}

.story-card-img {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
}

.story-btn {
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    padding: 15px 18px;
    position: relative;
    left: 38.35px;
    top: -25px;


}

.story-card {
    max-width: 540.27px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding-bottom: 34px;

}

.story-des {
    margin: 34px 38px;
}

.story-des h4 {
    font-size: 1.6rem;
    font-weight: 700;
}

.story-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.mini-card {
    max-width: 290.69px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
}

.mini-card-btn {
    background: rgb(149, 178, 38);
    padding: 12px 18px;
}

.mini-card-btn2 {
    background: rgb(93, 88, 240);
}

.mini-card h4 {
    font-size: 1rem;
    font-weight: 700;
    margin: 24px 54px 33px 37px;
}

.story-view-btn {
    margin: 60px auto;
    background: rgb(17, 17, 17);
    border-radius: 12px;
    padding: 10px;
    width: 157px;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 700;

}

.our-story {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* footer part */

.footer {
    background-color: rgb(116, 192, 236);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 123px 228px 124px 140px;
    color: rgb(255, 255, 255);
    gap: 170px;

}

.kids-edu-disc img {
    max-height: 82px;
    margin-right: 11px;

}

.kids-edu h4 {
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 36px;
    margin-top: 10px;
}

.kids-edu h5 {
    margin-top: 30px;
    font-size: 1.25rem;
    font-weight: 400;
}

.about-school h5 {
    font-size: 1.5rem;
    font-weight: 700;
}

.about-school ul li {
    list-style: none;
    margin-bottom: 20px;
}

.about-school ul a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(255, 255, 255);

}

/* Responsive Media Query */
@media screen and (max-width:576px) {

    .card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 5px;

    }

    .primary-title {
        margin-bottom: 20px;
    }

    .navbar {
        justify-content: space-between;
        box-sizing: border-box;
        border-bottom: 0.5px solid rgb(254, 163, 1);
        padding-bottom: 12px;
    }

    .nav-icon {
        display: flex;
        font-size: 50px;

    }

    /* for hide */
    .logo h5,
    .list-items,
    .nav-btn,
    .curriculum-btn,
    .story-card {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner img {
        width: 90%;
    }

    .mini-card {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .story-btn {
        left: 15px;
    }

    .footer {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 2px;
        margin: 8px 2px;
        padding: 35px 30px 40px;
    }

}